$main_bg: #E4E6E5;
$font_color: #4E4E5D;
$link_color: lighten($font_color, 5%);
$highlight: #409F89;
$red_circle: #DF6C4F;
$yellow_circle: #ECD06F;
$green_circle: #409F89;
$blue_circle: #1A99AA;
$vote_color: #FFFFFF;
$hr: #D5D7D6;
$colors: (red $red_circle) (yellow $yellow_circle) (green $green_circle) (blue $blue_circle);
$topNavLinkColor:#444444;
$topNavLinkHover:#666666;
$followBarBGColor:#888888;
$white:#ffffff;
$orColor:#444444