$main_bg: #E4E6E5;
$font_color: #4E4E5D;
$link_color: lighten($font_color, 5%);
$highlight: #409F89;
$red_circle: #DF6C4F;
$yellow_circle: #ECD06F;
$green_circle: #409F89;
$blue_circle: #1A99AA;
$vote_color: #FFFFFF;
$red_percent: 80;
$yellow_percent: 80;
$green_percent: 71.4;
$blue_percent: 72.9;
$hr: #D5D7D6;
$colors: (red $red_circle $red_percent) (yellow $yellow_circle $yellow_percent) (green $green_circle $green_percent) (blue $blue_circle $blue_percent);