$main_bg: #E4E6E5;
$font_color: #444444;
$highlight: #4FBBD3;
$red_circle: #DF6C4F;
$yellow_circle: #ECD06F;
$green_circle: #409F89;
$blue_circle: #1A99AA;
$vote_color: #FFFFFF;
$colors: (red $red_circle) (yellow $yellow_circle) (green $green_circle) (blue $blue_circle);