footer
{
  >div
  {
    height:225px;
    width:1200px;
    float:left;
    border-top:1px solid $borderColor;
    margin-top:20px;
    >div#copyrightArea
    {
      font-size:$font_size - 3px;
      padding-top:12px;
      float:left;
      width:525px;
      height:100px;
    }

    >div#shareSpace
    {
      float:right;
      width:200px;
      height:32px;
    }
  }

  #shareLinks
  {
    list-style:none;
    padding-left:0px;

    li
    {
      width:32px;
      height:32px;
      display:inline-block;
      // background-image:url("../images/facebook.png")
    }

    #facebookLink
    {
      background-image:url("../images/facebookLogo.jpg");
    }

    #twitterLink
    {
      background-image:url("../images/twitterLogo.jpg");
    }

    #mtvLink
    {
      background-image:url("../images/mtvLogo.jpg");
    }

    #bigALink
    {
      background-image:url("../images/bigALogo.jpg");
    }

    #pinterestLink
    {
      background-image:url("../images/pinterestLogo.jpg");
    }

  }

  div#bannerAd
  {
    margin:auto;
    clear:both;
    repeat:no-repeat;
    width:575px;
    height:75px;
    background-image:url("../images/bannerAd.jpg")
  }
}