@import 'colors';
@import 'fonts';
@import 'header';
@import 'nav';
@import 'content';
@import 'footer';
body {
   background-color: $main_bg;
   font-family: $main_font;
   letter-spacing: 1px;
   color: $font_color;
}
a {
   text-decoration: none;
}
.clear {
   float: none;
   clear: both;
}
#container {
   width: 1200px;
   margin: auto;
}
